@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: 'ZEN Serif';
  src: url('/fonts/ZEN-SERIF-TTF-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

html, body {
  font-size: 62.5%;
  font-family: var(--font-sans);
}

:root {
    /* 메인컬러(MAIN) → mint */
  --mint-50: #D9FAFB;
  --mint-100: #B2F4F6;
  --mint-200: #8CEFF2;
  --mint-300: #65E9ED;
  --mint-400: #22DFE5;
  --mint-500: #0BCBD2;
  --mint-600: #14A9AE;
  --mint-700: #168A8E;
  --mint-800: #107274;
  --mint-900: #0A5C5E;

  /* 서브컬러(SECONDARY) → pink */
  --pink-50: #FEEFF3;
  --pink-100: #FFD0DC;
  --pink-200: #FAA2B8;
  --pink-300: #FF7B9C;
  --pink-400: #FF5B84;
  --pink-500: #EB436D;
  --pink-600: #CD1845;
  --pink-700: #920C2D;
  --pink-800: #710520;
  --pink-900: #470214;

  /* 그레이 스케일(GRAY) → gray */
  --gray-50: #FAFAFA;
  --gray-100: #F4F4F4;
  --gray-200: #E9E9E9;
  --gray-300: #D5D5D5;
  --gray-400: #BCBDBE;
  --gray-500: #A1A4AA;
  --gray-600: #8B9099;
  --gray-700: #484B51;
  --gray-800: #2E3136;
  --gray-900: #111215;

  /* 서브 포인트 컬러 */
  --blue-400: #2569FF;
  --red-300: #F06B6B;
  --red-400: #EB3939;

   /* 배경/전경 */
  --background: #ffffff;
  --foreground: #111215;

  /* 폰트 */
  --font-sans: 'Pretendard', system-ui, sans-serif;
  --font-serif: 'ZEN Serif', serif;

   /* Display */
  --display-flex: flex;
  --display-grid: grid;
  --display-block: block;
  --display-inline: inline-block;

  /* Grid */
  --grid-cols-6: repeat(6, minmax(0, 1fr));
  --grid-cols-4: repeat(4, minmax(0, 1fr));
  --grid-rows-auto: auto;

  /* Width */
  --max-w-mobile: 430px;
  --min-w-100: 100px;
  --min-w-200: 200px;
}
/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 색상 */
/* Mint */
@utility bg-mint-50 { background-color: var(--mint-50); }
@utility bg-mint-100 { background-color: var(--mint-100); }
@utility bg-mint-200 { background-color: var(--mint-200); }
@utility bg-mint-300 { background-color: var(--mint-300); }
@utility bg-mint-400 { background-color: var(--mint-400); }
@utility bg-mint-500 { background-color: var(--mint-500); }
@utility bg-mint-600 { background-color: var(--mint-600); }
@utility bg-mint-700 { background-color: var(--mint-700); }
@utility bg-mint-800 { background-color: var(--mint-800); }
@utility bg-mint-900 { background-color: var(--mint-900); }

@utility text-mint-50 { color: var(--mint-50); }
@utility text-mint-100 { color: var(--mint-100); }
@utility text-mint-200 { color: var(--mint-200); }
@utility text-mint-300 { color: var(--mint-300); }
@utility text-mint-400 { color: var(--mint-400); }
@utility text-mint-500 { color: var(--mint-500); }
@utility text-mint-600 { color: var(--mint-600); }
@utility text-mint-700 { color: var(--mint-700); }
@utility text-mint-800 { color: var(--mint-800); }
@utility text-mint-900 { color: var(--mint-900); }

/* Pink */
@utility bg-pink-50 { background-color: var(--pink-50)!important; }
@utility bg-pink-100 { background-color: var(--pink-100)!important; }
@utility bg-pink-200 { background-color: var(--pink-200)!important; }
@utility bg-pink-300 { background-color: var(--pink-300)!important; }
@utility bg-pink-400 { background-color: var(--pink-400)!important; }
@utility bg-pink-500 { background-color: var(--pink-500)!important;}
@utility bg-pink-600 { background-color: var(--pink-600)!important; }
@utility bg-pink-700 { background-color: var(--pink-700)!important; }
@utility bg-pink-800 { background-color: var(--pink-800)!important; }
@utility bg-pink-900 { background-color: var(--pink-900)!important; }

@utility text-pink-50 { color: var(--pink-50)!important; }
@utility text-pink-100 { color: var(--pink-100)!important; }
@utility text-pink-200 { color: var(--pink-200)!important; }
@utility text-pink-300 { color: var(--pink-300)!important;}
@utility text-pink-400 { color: var(--pink-400)!important; }
@utility text-pink-500 { color: var(--pink-500)!important; }
@utility text-pink-600 { color: var(--pink-600)!important; }
@utility text-pink-700 { color: var(--pink-700)!important; }
@utility text-pink-800 { color: var(--pink-800)!important; }
@utility text-pink-900 { color: var(--pink-900)!important; }

/* Gray */
@utility bg-gray-50 { background-color: var(--gray-50)!important; }
@utility bg-gray-100 { background-color: var(--gray-100)!important; }
@utility bg-gray-200 { background-color: var(--gray-200)!important; }
@utility bg-gray-300 { background-color: var(--gray-300)!important; }
@utility bg-gray-400 { background-color: var(--gray-400)!important; }
@utility bg-gray-500 { background-color: var(--gray-500)!important; }
@utility bg-gray-600 { background-color: var(--gray-600)!important; }
@utility bg-gray-700 { background-color: var(--gray-700)!important; }
@utility bg-gray-800 { background-color: var(--gray-800)!important; }
@utility bg-gray-900 { background-color: var(--gray-900)!important; }

@utility text-gray-50 { color: var(--gray-50)!important; }
@utility text-gray-100 { color: var(--gray-100)!important; }
@utility text-gray-200 { color: var(--gray-200)!important; }
@utility text-gray-300 { color: var(--gray-300)!important; }
@utility text-gray-400 { color: var(--gray-400)!important; }
@utility text-gray-500 { color: var(--gray-500)!important; }
@utility text-gray-600 { color: var(--gray-600)!important; }
@utility text-gray-700 { color: var(--gray-700)!important; }
@utility text-gray-800 { color: var(--gray-800)!important; }
@utility text-gray-900 { color: var(--gray-900)!important; }

/* Blue */
@utility bg-blue-400 { background-color: var(--blue-400)!important; }
@utility text-blue-400 { color: var(--blue-400)!important; }

/* Red */
@utility bg-red-300 { background-color: var(--red-300)!important; }
@utility bg-red-400 { background-color: var(--red-400)!important; }
@utility text-red-300 { color: var(--red-300)!important; }
@utility text-red-400 { color: var(--red-400)!important; }

/* Background / Foreground */
@utility bg-background { background-color: var(--background); }
@utility bg-foreground { background-color: var(--foreground); }
@utility text-background { color: var(--background); }
@utility text-foreground { color: var(--foreground); }


/* 폰트 *//* Pretendard */
@utility text-display-lg { font-size:5.7rem; font-weight:300; line-height:6.4rem; letter-spacing:-0.025rem; font-family: var(--font-sans); }
@utility text-display-md { font-size:5.2rem; font-weight:300; line-height:4.5rem; font-family: var(--font-sans); }
@utility text-display-sm { font-size:3.6rem; font-weight:300; line-height:4.4rem; font-family: var(--font-sans); }

@utility text-headline-lg { font-size:3.2rem; font-weight:200; line-height:4rem; font-family: var(--font-sans); }
@utility text-headline-md { font-size:2.8rem; font-weight:200; line-height:3.2rem; font-family: var(--font-sans); }
@utility text-headline-sm { font-size:2.4rem; font-weight:200; line-height:3.2rem; font-family: var(--font-sans); }

@utility text-title-lg { font-size:2.2rem; font-weight:400; line-height:1.75rem; font-family: var(--font-sans); }
@utility text-title-md { font-size:1.6rem; font-weight:400; line-height:2.4rem; letter-spacing:0.015rem; font-family: var(--font-sans); }
@utility text-title-sm { font-size:1.4rem; font-weight:400; line-height:2rem; letter-spacing:0.01rem; font-family: var(--font-sans); }

@utility text-label-lg { font-size:1.4rem; font-weight:300; line-height:2rem; font-family: var(--font-sans); }
@utility text-label-md { font-size:1.2rem; font-weight:300; line-height:1.6rem; font-family: var(--font-sans); }
@utility text-label-sm { font-size:1.1rem; font-weight:300; line-height:1.6rem; font-family: var(--font-sans); }

/* JEN Serif */
@utility text-display-serif { font-size:3.6rem; font-weight:200; line-height:4.6rem; letter-spacing:0.6rem; font-family: var(--font-serif); }
@utility text-headline-lg-serif { font-size:3.2rem; font-weight:200; line-height:4rem; letter-spacing:0.2rem; font-family: var(--font-serif); }
@utility text-headline-md-serif { font-size:2.4rem; font-weight:200; line-height:3.2rem; letter-spacing:0.2rem; font-family: var(--font-serif); }
@utility text-headline-sm-serif { font-size:2rem; font-weight:200; line-height:2.4rem; letter-spacing:1.2rem; font-family: var(--font-serif); }
@utility text-label-serif { font-size:1.4rem; font-weight:200; line-height:2rem; letter-spacing:0.4rem; font-family: var(--font-serif); }

/* Layout */
@utility layout-flex { display: var(--display-flex); }
@utility layout-grid { display: var(--display-grid); }

@utility grid-cols-6 { grid-template-columns: var(--grid-cols-6); }
@utility grid-cols-4 { grid-template-columns: var(--grid-cols-4); }

@utility max-w-mobile { max-width: var(--max-w-mobile); }
@utility min-w-100 { min-width: var(--min-w-100); }
